*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header,.footer{
    background-color:#0c2461;
    height: 50px;
    text-align: center;
    display : flex;   
    justify-content: center;
    align-items: center;
}
.header img{
    width:40px;
    margin-right: 15px;
}
.header nav a, footer nav a{
    text-decoration: none;
    margin-right: 25px;
    color: white;
    font-size:18px;
}

.hero{
    min-height: 95vh;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background-image: url("../assets/images/background-hero.jpg"); */
    /* background-image: linear-gradient(25turn,rgba(0,0,0,0.8),rgba(255,255,255,0.7),) */
}

.headline{
    background-color: #fa983a;
}

.headline,.hp-info{
    color: white;
    text-shadow: #0c2461 1px 0 10px;
    text-align: center;
    height: 800px;
<<<<<<< HEAD
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.hp-info{
    background-color: #eb2f06;
}

.headline h2{
    width:80%;
}

.headline p{
    margin-top: 20px;
=======
    width: 48%;  
>>>>>>> origin/mustain
}

.hp-info{
    color : white;
    border : 1px solid blue;
    text-align: center;
    height: 800px;
    width: 48%
    
}
.hp-info img{
    width:20%;
}

.headline button{
    color: #e58e26;
    border-radius: 10px;
    padding : 10px;
    font-size : 16px;
    width :200px;
    margin : 0 auto;
    margin-top:25px;
<<<<<<< HEAD
    background-color : #4a69bd;
    border-color: #60a3bc;
}

.headline button:hover{
    background-color: aquamarine;
=======
    background-color: #0c2461;
    box-shadow: inset 0 0 0 0 #e58e26;
    transition: ease-out 1s;
    outline: none
}

.headline button:hover{
    box-shadow: inset 300px 0 0 0 #e58e26;
    color: #0c2461;
>>>>>>> origin/mustain
}


.feature{
    min-height: 100vh;
    width :100%;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    border : 4px dotted red;
}

.box{
    /* display : block; */
    width : 45%;
    /* min-height : 50px; */
    border : 2px solid gray;
    margin: 20px;
    border-radius: 25px;
    box-shadow: black 3px 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
}

.pre-order, #details-purchased{
    display :flex;
    height : 500px;
    align-items : center;
    justify-content : center;
    border: 2px solid pink;
}

.user-info,.customer-details{
    display :flex;
    flex-direction:column;
    border : 3px solid lightblue;
    padding : 25px;
    border-radius : 25px;
    box-shadow: black 3px 7px;
}

#details-purchased{
    height:300px;
    display:none;
}

.customer-details{
    width:30%;
}

.inline-block{
    display : inline-block;
    margin-bottom: 5px;
    text-align: left;
}
.inline-block label{
    width :100px;
}

.user-info input[type="text"]{
    padding : 5px;
    border-radius: 25px;
    text-align: center;
}

.user-info label{
    display : inline-block;
    width :150px;
}

.user-info button{
    padding : 10px;
    border-radius: 25px;
    background-color:lightgray;
    font-size:16px;
    width:50%;
    margin: 0 auto;
}

form{
    display:flex;
    flex-direction: column;
}
.user-info input[type="submit"]{
    color: #e58e26;
    border-radius: 10px;
    padding : 10px;
    font-size : 16px;
    width :200px;
    margin : 0 auto;
    margin-top:25px;
    background-color: #0c2461;
    box-shadow: inset 0 0 0 0 #e58e26;
    transition: ease-out 1s;
    outline: none
}

.user-info input[type="submit"]:hover{
    box-shadow: inset 300px 0 0 0 #e58e26;
    color: #0c2461;
}

/* Accordion style */
 /* Style the buttons that are used to open and close the accordion panel */
 .faq{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    border: 3px dotted lightgray;
}
.faq h2{
    margin-top:25px;
}
.faq-list{
width: 70%;
margin: 25px 0;
/* padding : 10px; */
border-radius: 25px;
overflow: hidden;
}
.faq-list button{
    font-size: 18px;
    border-radius: 5px;
    margin: 1px;
}

.faq-list .panel{
    background-color: #eee;
}
.accordion {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
text-align: left;
border: none;
outline: none;
transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
background-color: #ccc;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
padding: 0 18px;
padding : 20px;
background-color: white;
display: none;
overflow: hidden;
} 